; This file is managed in Ansible, changes here will be lost on next reload.
; Edit the version in fogg-ansible and re-provision.
; --------------------------------------------------------------------------

[phone-tree]
; ** This is the "back line" entry point - skips the frontdesk queue **
; This menu is implemented as a dialing plan (not a queue)
; because we need to support dialing more than one digit
exten => s,1,Background(ws-autoattendant-menu)
 same => n,WaitExten(6)

; 0 = Go back to front desk queue
exten => _0,1,GoTo(outside-calls,100,1)

; 1 = Sales
exten => _1,1,Voicemail(201@default,u)
 same => n,Hangup()

; 2 = Service
exten => _2,1,Voicemail(202@default,u)
 same => n,Hangup()

; 3 = Accounting
exten => _3,1,Voicemail(203@default,u)
 same => n,Hangup()

; Timeout
exten => t,1,Verbose(1,Timeout goto general voicemail)
 same => n,Goto(outside-calls,100,20)
 same => n,Hangup()

; Direct dial extensions
exten => _1xx,1,GoTo(local-extensions,${EXTEN},1)

; Dial into voicemail
exten => _#,1,Answer()
 same => n,VoicemailMain()
 same => n,Hangup()

; every other 3 digit code is invalid
exten => _XXX,1,NoOp(invalid extension)
 same => n,GoTo(i,1)

; Invalid entry
exten => i,1,Playback(invalid)
 same => n,GoTo(s,1)

[night-mode-tree]
; ** This is the "back line" entry point - skips the front desk queue **
; This menu is implemented as a dialing plan (not a queue)
; because we need to support direct dial to extensions
exten => s,1,Wait(.25)
 same => n,Background(ws-greeting-night)
 same => n,WaitExten(5)

; 0 = Go to general voice mail
exten => 0,1,GoTo(outside-calls,100,20)

; 100-199 direct dial extension
exten => _1xx,1,GoTo(local-extensions,${EXTEN},1)

; Invalid entry
exten => i,1,Verbose(1,Invalid entry)
 same => n,Playback(ws-invalid)
 same => n,GoTo(s,1)

; Timeout - go to voicemail
exten => t,1,GoTo(outside-calls,100,20)

[holiday-tree]
; ** This is the "back line" entry point - skips the frontdesk queue **
; This menu is implemented as a dialing plan (not a queue)
; because we need to support direct dial to extensions
exten => s,1,Wait(.25)
 same => n,Background(ws-holiday)
  same => n,WaitExten(5)

; 0 = Go to voice mail
exten => 0,1,GoTo(outside-calls,100,20)

; 100-199 direct dial extension
exten => _1xx,1,GoTo(local-extensions,${EXTEN},1)

; Invalid entry
exten => i,1,Verbose(1,Invalid entry)
 same => n,Playback(ws-invalid)
 same => n,GoTo(s,1)

; Timeout
exten => t,1,Verbose(1,Timeout)
 same => n,Playback(goodbye)
 same => n,Hangup()

[queue-entry-points]

; No queues here currently other than the front-desk queue
; See BAREIS for an example of how this is used.
  
; ========================================================================

; When caller is in a queue and pushes a single digit these fire
; I used goto's here to avoid keeping the mailbox numbers in two places

[queue-menu]
exten => _0,1,Playback(transfer)
 same => n,GoTo(outside-calls,100,1)
 

; That's all!