; This file is managed in Ansible, changes here will be lost on next reload.
; Edit the version in fogg-ansible and re-provision.
; --------------------------------------------------------------------------

[phone-tree]
; ** This is the "back line" entry point - skips the frontdesk queue **
; This menu is implemented as a dialing plan (not a queue)
; because we need to support dialing more than one digit
exten => s,1,Background(ws-autoattendant-menu)
 same => n,WaitExten(20)

; 0 = Go back to front desk queue
exten => 0,1,GoTo(outside-calls,100,1)

exten => 1,1,GoTo(queue-entry-points,201,1)
exten => 2,1,GoTo(queue-entry-points,202,1)
exten => 3,1,GoTo(queue-entry-points,203,1)
exten => 4,1,GoTo(queue-entry-points,204,1)
exten => 5,1,GoTo(queue-entry-points,205,1)

; Direct dial extensions
exten => _1xx,1,GoTo(local-extensions,${EXTEN},1)

; every other 3 digit code is invalid
exten => _XXX,1,NoOp(invalid extension)
 same => n,GoTo(i,1)

; Invalid entry
exten => i,1,Verbose(1,Invalid entry)
 same => n,Playback(invalid)
 same => n,GoTo(s,1)

; Timeout
exten => t,1,Verbose(1,Timeout)
; same => n,Playback(voice-mail-system)
 same => n,GoTo(outside-calls,100,20) ; voicemail
 same => n,Hangup()

[night-mode-tree]
; ** This is the "back line" entry point - skips the frontdesk queue **
; This menu is implemented as a dialing plan (not a queue)
; because we need to support direct dial to extensions
exten => s,1,Wait(.25)
 same => n,Background(ws-greeting-night)
 same => n,WaitExten(5)

; 0 = Go to voice mail
exten => 0,1,GoTo(outside-calls,100,20)

; 100-199 direct dial extension
exten => _1xx,1,GoTo(local-extensions,${EXTEN},1) ; bareis
;exten => _5xx,1,GoTo(local-extensions,${EXTEN},1) ; wildsong

; Invalid entry
exten => i,1,Verbose(1,Invalid entry)
 same => n,Playback(ws-invalid)
 same => n,GoTo(s,1)

; Timeout
exten => t,1,Verbose(1,Timeout)
; same => n,GoTo(outside-calls,100,20)
 same => n,Playback(goodbye)
 same => n,Hangup()

[holiday-tree]
; ** This is the "back line" entry point - skips the frontdesk queue **
; This menu is implemented as a dialing plan (not a queue)
; because we need to support direct dial to extensions
exten => s,1,Wait(.25)
 same => n,Background(ws-holiday)
  same => n,WaitExten(5)

; 0 = Go to voice mail
exten => 0,1,GoTo(outside-calls,100,20)

; 100-199 direct dial extension
exten => _1xx,1,GoTo(local-extensions,${EXTEN},1) ; bareis
;exten => _5xx,1,GoTo(local-extensions,${EXTEN},1) ; wildsong

; Invalid entry
exten => i,1,Verbose(1,Invalid entry)
 same => n,Playback(ws-invalid)
 same => n,GoTo(s,1)

; Timeout
exten => t,1,Verbose(1,Timeout)
; same => n,Playback(voice-mail-system)
 same => n,Playback(goodbye)
 same => n,Hangup()
  
;--------------------------------------------------------------------------------
; Queue app options
; https://wiki.asterisk.org/wiki/display/AST/Asterisk+13+Application_Queue
; r Ring instead of playing music
; R Ring when a member phone is ringing (else MOH?)
; t Allow caller to transfer
;
[queue-entry-points]

exten => _20x,1,Set(queue=${EXTEN:3:3})
 same => n,Verbose(1,Entering queue ${queue})
 same => n,Playback(ws-greeting-q${queue})
 same => n,Queue(q${queue},t,,,20)
 same => n,Voicemail(${EXTEN},u)
 same => n,Hangup()

; ========================================================================

; When caller is in a queue and pushes a single digit these fire
; I used goto's here to avoid keeping the mailbox numbers in two places

[queue-menu]
exten => _0,1,Playback(transfer)
 same => n,GoTo(outside-calls,100,1)

; That's all!