; This file is managed in Ansible, changes here will be lost on next reload.
; Edit the version in fogg-ansible and re-provision.
; --------------------------------------------------------------------------
;
; Comcast SIP trunk via Adtran Advanta
;
; ------------------------------------------------------------------------
[inbound-sip-trunk]
; INCOMING CALLS FROM COMCAST SIP

; 707-978-5560 Through 707-978-5579                                                                                            
exten => 70797856XX,1,Verbose(1,Call from ${CALLERID()})
 same => n,Goto(outside-calls,100,1)

; 707-303-4950 Through 707-303-4969
exten => 70730349XX,1,Verbose(1,Call from ${CALLERID()})
 same => n,Goto(outside-calls,100,1)

; 707-573-3600 Through 707-573-3654
; 707-573-3656 Through 707-573-3699                                                                                            
exten => 70757336XX,1,Verbose(1,Call from ${CALLERID()})
 same => n,Goto(outside-calls,100,1)

; 707-573-7200 Through 707-573-7299
exten => 70757372XX,1,Verbose(1,Call from ${CALLERID()})
 same => n,Goto(outside-calls,100,1)

; main 707-579-9600
; 707-579-9600 Through 707-579-9699
exten => 70757996XX,1,Verbose(1,Call from ${CALLERID()})
 same => n,Goto(outside-calls,100,1)

; 707-579-9700 Through 707-579-9799
exten => 70757997XX,1,Verbose(1,Call from ${CALLERID()})
 same => n,Goto(outside-calls,100,1)

; ------------------------------------------------------------------------
[outbound-sip-trunk]
; OUTGOING CALLS TO COMCAST SIP TRUNK

; We don't want the "+" in front for PSTN!
exten => _+NXXNXXXXXX,1,Goto(${EXTEN:1},1)

;  7 digit call: add 1 + area code
exten => _NXXXXXX,1,Goto(1{{ area_code }}${EXTEN},1)

; 10 digit call: add 1
exten => _NXXNXXXXXX,1,Goto(1${EXTEN},1)

; FORCE caller id to be our number so that people can dial back
exten => _1NXXNXXXXXX,1,Dial(SIP/adtran/${EXTEN:1},60,f(${CALLERID(num,{{ force_callerid }})}))

