; This file is managed in Ansible, changes here will be lost on next reload.
; Edit the version in fogg-ansible and re-provision.
; --------------------------------------------------------------------------
;
; Edit the version in vastra-ansible and re-provision.
;
; This is how calls find their way in through
; the Digium G100 box via an existing PRI line(s)
;
; To activate it edit  in extensions.conf
; uncomment the #include line and
; uncomment the line in "outside-calls" context

[inbound-pri-trunk]

; Go to phone-tree
exten => _8000,1,Verbose(1, Call from PRI trunk CALLERID=${CALLERID} EXTEN=${EXTEN})
 same => n,GoTo(outside-calls,100,1)

; Go to voicemail system
exten => _8015,1,Verbose(1, Call from PRI trunk CALLERID=${CALLERID} EXTEN=${EXTEN})
 same => n,GoTo(outside-calls,100,20)

[outbound-pri-trunk]

; Direct dial (no '9' in front)

; Did not get an area code, so add 1707 and try again
exten => _NXXXXXX,1,Verbose(Changing ${EXTEN} to 1707${EXTEN:1})
 same => n,Goto(${CONTEXT},1707${EXTEN:1},1)

; Have an area code, Add a one and try again
exten => _NXXNXXXXXX,1,Verbose(Changing ${EXTEN} to 1${EXTEN:1})
 same => n,Goto(${CONTEXT},1${EXTEN:1},1)

; Uncomment next line to add the "+" IF we require it
;exten => _1NXXNXXXXXX,1,Verbose(Changing ${EXTEN} +${EXTEN:1})                                                               

; MAKE CallerID the front door number
 same => n,Verbose(3,Dialing ${EXTEN:1} via PRI)
 same => n,Dial(SIP/${EXTEN:1}@g100,60,f(${CALLERID(num,{{ force_callerid }})}))

; International calls
;exten => _011.,1,Verbose(Calling internationally via PRI)
; same => n,Dial(SIP/${EXTEN}@outbound-sip-trunk) 

[e911]
; e911 must be enabled. see DIDs > NPANXXNXXX > Action menu > e911

exten => _911,1,Answer()
; same => n,Dial(SIP/TwilioProvider/911)

; test: do not call 911
 same => n,Playback(tt-somethingwrong)
 same => n,Hangup()

; end of file


