; This file is managed in Ansible, changes here will be lost on next reload.
; Edit the version in fogg-ansible and re-provision.
; --------------------------------------------------------------------------
[twilio]
type = aor
contact = sip:{{ twilio_sip_username }}@{{ termination_sip_uri }}

[twilio]
type = identify
endpoint = twilio
match = {{ termination_sip_uri }}

[twilio]
type = auth
username = twilio
password = {{ twilio_sip_password }}

[twilio]
type = endpoint
context = inbound-sip-trunk
dtmf_mode = none
disallow = all
allow = ulaw
{{ external_media_address }}
device_state_busy_at = 1
auth = twilio
outbound_auth = twilio
aors = twilio

;[acl]
;type = acl
;acl = twilio-sip-whitelist

[transport-udp]
type = transport
protocol = udp
bind = 0.0.0.0:5060

[transport-tcp]
type = transport
{{ external_signaling_address }}
external_signaling_port = 5060
protocol = tcp
bind = 0.0.0.0:5060

