; This file is managed in Ansible, changes here will be lost on next reload.
; Edit the version in fogg-ansible and re-provision.
; --------------------------------------------------------------------------
[outbound-vastra-community]
; How we call out over IAX2

; 10 BAREIS
exten => _10xxx,1,Verbose(2,Placing call to ${EXTEN:2:4} at BAREIS)
 same => n,Dial(IAX2/community@bareis/${EXTEN:2:4},30,r)
 same => n,Congestion()

; 11 LEDSON
exten => _11xxx,1,Verbose(2,Placing call to ${EXTEN:2:4} at Ledson)
 same => n,Dial(IAX2/community@ledson/${EXTEN:2:4},30,r)
 same => n,Congestion()

; 12 CDS
exten => _12xxx,1,Verbose(2,Placing call to ${EXTEN:2:4} at CDS)
 same => n,Dial(IAX2/community@ledson/${EXTEN:2:4},30,r)
 same => n,Congestion()

[from-vastra-community] ; How we connect Vastra community members to our PBX
include => local-extensions
