; This file is managed in Ansible, changes here will be lost on next reload.
; Edit the version in fogg-ansible and re-provision.
; --------------------------------------------------------------------------
; VASTRA WORLD

[local-support]

; Local calls to 611 come here. 
; First we try to ring a local Brian (one who is onsite)

; Add presence detection code here soonish
;   Is 'brian' registered?
;   Is 'bwilson' registered?
 
exten => s,1,{{ ring_611 }}
{{ failed_611 }} 

[incoming-community-support]

; Simple version for starters

exten => s,1,NoOp(Receiving community support call)
exten => s,2,Dial(SIP/bwilson&SIP/104&SIP/134,30,r)
 same => n,Voicemail(104,u)

; Is there a Brian here to answer the call?

; Is there a Brian at BAREIS?

; Is there a mobile WiFi Brian?

; Is there a Brian at Ledson?

; Is there a Brian at Bellman?
