#!/bin/bash
#;           --=======================--
#;          ***  CHANGES WILL BE LOST ***
#;           --=======================--
#;
#; Edit the version in fogg-ansible and re-provision.
#
#  Add rules to disable traffic over OpenVPN
#  This is run from openvpn when the tunnel is shutting down
#

# args: cmd tun_dev tun_mtu link_mtu ifconfig_local_ip ifconfig_remote_ip [ init | restart ]

# ansible note, move to host_vars!
LAN=eth0
dev=$1

# AlseaGeo old way
#iptables -D INPUT -s 10.0.0.0/8 -j ACCEPT 
iptables -D INPUT -i $dev -j ACCEPT 

# Allow OpenVPN traffic for AGI
# This might need to be in an openvpn script
iptables -D FORWARD -i $LAN -o $dev -j ACCEPT
iptables -D FORWARD -i $dev -o $LAN -j ACCEPT

iptables -t nat -D POSTROUTING -o $dev -j MASQUERADE

# ONLY for AGI, fix this somehow
rm /etc/dnsmasq.d/alseageo.conf
# sigh, config only read on startup, sigh
systemctl stop dnsmasq
systemctl start dnsmasq
